    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul>
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
            <large>Welcome! <%= current_user.name %></large>
          </ul>
          <li><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <large>Please Login to add contents</large>
          </ul>
          <li><%= link_to 'Login', login_path %></li>  
          <li><%= link_to 'Register', register_path %></li>
        <% end %>
      </ul>
