<!--<h1>Contact us</h1>-->
<!--<hr>-->
<!--<p>NTU Ruby 277 class</p>-->

<% @alluser = User.all %>
<!--------- debug ----------------->
<!--user name:-->
<!--%= User.find_by_id(user.id).name %>-->
<!--user vote_count:-->
<!--%= User.find_by_id(user.id).status.vote_count %>-->
<!--------- debug ----------------->
<table>
  <thead>
    <tr>
      <th>Users</th>
      <th>Since</th>
      <th>Online</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="title_class">
  <tbody>
<% @alluser.each do |user| %>
  <tr>
   <td><h6><%= user.name %></td>
   <td><small><%= user.created_at.strftime("%b %d. %Y") %></small></td>
   <td><% if (Status.find_by_user_id(user.id).online == true) %>
     Yes
   <% else %>
     No
   <% end %></td>
   </tr>
  <% end %>
 </tbody>
</table>
</div>
