<!--<div class="jumbotron">-->
  <!--<%= link_to "Learn more","#", class: "btn btn-primary btn-lg" %>-->
<!--</div>-->
<!-- 輪播結合jumbotron-->
    <div id="slideshow" class="carousel slide" data-ride="carousel">
        <!--圖片輪播放這邊-->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                              <!--<h1>Ruby</h1>-->
                              <!--%= link_to  "Ruby On Rails", ref_path %>-->
                                <!--<a href="http://www.basised.com/" class="button">Read more</a>-->
                            </div>
                            <!--<div class="col-md-7"><a href=""> <img src="ROR.png" alt="flash"></a> </div>-->
                            <div class="col-md-7"><%= image_tag("logos/ROR.png",width: '330px') %> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                             <!--<h1>Rails</h1>-->
                                <!--<a href="http://www.basised.com/" class="button">Read more</a>-->
                            </div>
                               <!--<div class="col-md-7"><a href=""> <img src="pythonDjango.png" alt="flash"></a> </div>-->
                               <!--<div class="col-md-7"><%= image_tag("logos/pythonDjango.png",width: '200px') %> </div>-->
                               <div class="col-md-7"><%= image_tag("logos/cloud.png",width: '300px') %> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--左右控制鍵-->
        <div class="control-btn">
            <a href="#slideshow" class="left carousel-control" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hiddden="true"></span> </a>
            <a href="#slideshow" class="right carousel-control" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hiddden="true"></span> </a>
        </div>
    </div>